<p>Seabo is Trove’s serendipitous image browser which contains images that are known to be open access, out of copyright, shareable and reusable. </p>

<p>These images can be reused and shared, so when you need an image to spruce up a presentation or to accompany a social media post you’ll be able to find something you can safely use without fear of breaching copyright. </p>

<p>Simply browse for an image using our various links or if you’re feeling daring, click on ‘take me away Julio’ for a random image. Or you can use the search box to find something more specific.  When you’ve found an image you want to use, simply download it and you’re away. We’d really like it if you could include a link back to the record in Trove.</p>

<p>If you would like to see your organisation’s images to Seabo, please ensure you have a suitable rights statement in your records such as:
<ul><li>‘All digitised images taken prior to 1955 and Out of Copyright’</li>
<li>'Copyright expired under Copyright Act 1968 Commonwealth of Australia'</li>
<li>'Out of Copyright'</li>
<li>'Copyright Expired'</li>
<li>'No known copyright restrictions'</li></ul>
<p>Let the Trove team know when you’ve added a rights statement to your records and they will then be able to find all your images suitable for sharing in Seabo and add them to the application.</p></p>
<p>If you have any questions about Seabo, <a href="http://librariesaustraliaref.nla.gov.au/reft100.aspx?pmi=UShyHU1Rve">contact the Trove team</a>. </p>

<p></p>
<p></p>
<p><strong>DISCLAIMER</strong></p>
<p>Members of Aboriginal, Torres Strait Islander and Maori communities are advised that Seabo contains names and images of deceased people. Seabo users should also be aware that certain words, terms or descriptions may be culturally sensitive and may be considered inappropriate today, but may have reflected the author's/creator's attitude or that of the period in which they were written.</p>
<p></p>
<p></p>
<p><strong>Project Disclaimer</strong></p>
<p>Seabo is a prototype application developed on a hack day by the Trove Support Team at the <a href="http://www.nla.gov.au/">National Library of Australia</a>. It uses the data made freely available to the world via the <a href="http://trove.nla.gov.au/">Trove API</a>. Please note that Seabo was a fun project to develop, a single-day experiment at other possible ways of diving into Trove’s images collections. Continuing development and enhancement of Seabo is not planned at this time. </p>
<p>Seabo is not an official service developed or supported by the National Library of Australia. For a full experience you can go back to the source and <a href="http://trove.nla.gov.au/picture?q=">search the Pictures zone in Trove</a>, or browse the open collections in the <a href="http://trove.nla.gov.au/list?id=78794">Gif It Up Trove List</a>.</p>
<p>You can find more about how the Trove Support team created Seabo by reading our blog post, <a href="http://www.nla.gov.au/blogs/trove/2015/12/17/hacking-trove">Hacking Trove</a>.</p>
